@using Bot.model;
@using Newtonsoft.Json;
@{
     ViewBag.Title = "Index";
}

<h2>Index</h2>
<h1>CustomerServer.servers @JsonConvert.SerializeObject(CustomerServer.servers)</h1>
<h1>Customer.Customers @JsonConvert.SerializeObject(Customer.Customers)</h1>
<h1>CustomerServer.mapping @JsonConvert.SerializeObject(CustomerServer.mapping)</h1>
<h1>Admin.Admins @JsonConvert.SerializeObject(Admin.Admins)</h1>
<h1>Admin.mapping @JsonConvert.SerializeObject(Admin.mapping)</h1>
